@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/* Обнуление */
*б *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,ol,li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
}
img {
    vertical-align: top;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0;
    padding:0;
}

/* Остальное */
.portfolio {
    display: flex;
    justify-content: center;
    transform:translateY(350px);
    font-size: 48px;
}
.portfolio::before {
    content:"";
    animation: bomba 12s infinite linear;
    transition-delay: 2s;
}
@keyframes bomba {
    0% {
        content:'my'
    }
    7% {
        content:'nick'
    }
    14% {
        content:'is'
    }
    21% {
        content: "kr3ch";
    }
    28% {
        content:"aka"
    }
    35% {
        content:"Vasek"
    }
    42% {
        content:"my"
    }
    49% {
        content:"social"
    }
    56% {
        content:"networks"
    }
    63% {
        content:"from"
    }
    70% {
        content:"below";
    }
    79% {
        content:"i'm";
    }
    90% {
        content:"web";
    }
    100% {
        content: "designer";
    }
}    
@font-face {
    font-family: 'sdglitch';
    src: url('/fonts/SDGlitch_Demo.ttf')
}
* {
    font-family: 'sdglitch'
}
body {
    background: url('/img/zeze.mp4');
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
  }
.social {
    width: 100%;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;  
}
.social__icon{
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 70px;
    height: 70px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #00000080;
    transition: all 0.3s ease;
    position: relative;
    overflow:hidden;
  }
.social__icon i {
    font-size: 26px;
    color: #67798e;
    transition: all 0.3s ease;
    z-index: 1;
}
.social__icon:after{
    content: "";
    width: 70px;
    height: 70px;
    position:absolute;
    transform: translate(0, 70px);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.social__icon.vk:after{
    background-color: #5d84ae;
}
.social__icon.youtube:after{
    background-color: #c4302b;
}
.social__icon.telegram:after{
    background-color: #249bd7;
}
.social__icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 15px #00000080;
}
.social__icon:hover i{
    color: #fff;
}
.social__icon:hover:after{
    transform: translate(0);
}
